.search-input-child {
  height: 3.938rem;
  width: 35.063rem;
  position: relative;
  box-shadow: 0 2px 10px 1px #d9d9d9;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.search,
.search-icon {
  position: relative;
  z-index: 1;
}
.search-icon {
  height: 2.063rem;
  width: 2.563rem;
  object-fit: contain;
}
.search {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  display: inline-block;
  min-width: 4.313rem;
}
.search-input,
.search-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.search-input {
  width: 35.063rem;
  box-shadow: 0 2px 10px 1px #d9d9d9;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
